html,body {
  padding: 0px;
  margin: 0px;
}
* {
  font-family: 'VT323', sans-serif;
  font-size: 32pt;
}
*:hover {
  outline: none;
}
blockquote {
  border-left: 4px solid black;
  background-color: #eee;
  padding: 10px;
}
